rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /plans/{document=**} {
      // only authenticated user can create
      allow create: if request.auth != null;

      // only logged user can delete and read their own plan
      allow read, delete: if request.auth.uid == resource.data.uid;
    }
  }
}