.restday {
  font-family: "Oswald", sans-serif;
}
.restday-header {
  color: var(--secondary);
  background-color: var(--primary);
  padding: 10px;
}
.restday-content {
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
}
