/* Modal container */
body.modal-open {
  overflow: hidden;
}

.modal {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: auto;
}

/* Modal content */
.modal-content {
  background: var(--secondary);
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-button-line {
  padding: 10px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

/* Show modal when it's open */
.modal.open {
  display: flex;
}
