.logo {
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.logo-firstWord {
  top: 8px;
  font-size: 36px;
  position: relative;
  font-family: "Rubik Doodle Shadow", system-ui;
  color: var(--secondary);
}
.logo-secondWord {
  color: #fff;
  top: -8px;
  left: 48px;
  position: relative;
  font-size: 24px;
  font-family: "Monoton", sans-serif;
}
