.PlanWindow {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #333;
  box-sizing: border-box;
  overflow: hidden;
}
.planWindow-header {
  background-color: var(--primary);
  color: var(--secondary);
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
}
.planWindow-header.today {
  color: rgb(0, 165, 0);
}
.planWindow-content {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.planWindow-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.planWindow-btn {
  margin: 20px;
}
.planWindow-content-names {
  list-style-type: decimal !important;
  padding-left: 20px !important;
}
