.plan-template {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #333;
  box-sizing: border-box;
  overflow: hidden;
}
.plan-template-header {
  background-color: var(--primary);
  color: var(--secondary);
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
}
.plan-template-header.today {
  color: rgb(0, 165, 0);
}
.plan-template-content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
}
.plan-template-content ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.plan-template-content-names {
  list-style-type: decimal !important;
}
.plan-template-column-btn {
  margin: 20px;
}
