.PlanWindow {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #333;
  box-sizing: border-box;
  overflow: hidden;
}
.planWindow-header {
  background-color: var(--primary);
  color: var(--secondary);
  box-sizing: border-box;
  padding: 16px 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
}
.planWindow-header.today {
  color: rgb(0, 165, 0);
  font-size: 20px;
}
.planWindow-header img {
  transition: 0.2s ease-in-out;
  width: 24px;
}
.planWindow-header.reverse img {
  transform: rotateZ(180deg);
}
.planWindow-content {
  background-color: #2b2b2b;
  color: #eee;
}
.planWindow-content.opened {
  padding: 10px;
}

.planWindow-content-row {
  box-sizing: border-box;
  padding: 5px 20px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  column-gap: 8px;
}
.planWindow-content-row p {
  text-align: right;
}
.planWindow-content-row p:first-child {
  text-align: left;
}
.planWindow-content-row:last-child {
  border: none;
  padding-bottom: 20px;
}
