.small-content-window {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.small-content-window > div {
  box-shadow: 0 3px 10px #5555554b;
  font-weight: 700;
  border-radius: 16px;
  padding: 10px;
}
.small-content-window > div p {
  display: inline-block;
}
.small-content-window > div p:first-child {
  margin-right: 4px;
}
.small-content-window > div.secondary {
  background-color: var(--secondary);
  color: #000;
}
.small-content-window > div.green {
  background-color: #299100;
}
.small-content-window > div.purple {
  background-color: #630091;
  color: #fff;
}
