:root {
  /* Colors */
  --primary: #333;
  --secondary: #ff6600;
  --accent: #f5f5f5;
}

.App {
  color: #fff;
  background-color: var(--primary);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #ff6600;
  padding: 0;
  margin: 0;
  font-size: 24px;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  text-indent: 24px;
}

.accent-text {
  color: #ff6600;
}

.white-text {
  color: #fff;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  flex: 1;
  width: 100%;
  max-width: 1200px;
}

.btn {
  padding: 8px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  outline: none;
  border: none;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.btn:hover {
  background-color: #ff7920;
}

header {
  border-bottom: 1px solid var(--accent);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  list-style-type: none;
  padding: 0;
  align-items: center;
  justify-content: flex-end;
}
header ul li {
  margin-left: 18px;
}
header ul li a {
  text-decoration: none;
  font-size: 18px;
}

footer {
  border-top: 1px solid var(--accent);
  text-align: center;
  padding: 10px;
}
footer span {
  color: var(--secondary);
}
